
#imagen-primera{
	background: #000 url("../imagenes/fotoinicio.jpg");
	background-position: top right;
	background-repeat: no-repeat ;
}

/*Titulo LEY*/

.titulo-ley h2{
	font-family: "Raleway";
	font-size:60px;
	text-align: center;
	float: center;
	color: #fff;
	font-weight: 400!important;
	margin-top: 122px;
}
/*Fin Titulo LEY*/

/*Div titulo*/
.div-titulo-arriba{
	height:2px;
	width:45.4%;
	background-color: #fff;
	float: center;
}

.div-titulo-abajo{
	height:3px;
	width:50%;
	margin-top:-14px;
	background-color: #fff;
	float: center;
}
/*Fin div titulo*/

/*Titulo ANTITERRORISTA*/
.titulo-antiterrorista h1{
	font-family: "Raleway";
	font-size:80px;
	font-weight: 300!important;
	float: center!important;
	color: #fff;
	text-align: center!important;
	margin-top: 0px;

}
/*Fin Titulo ANTITERRORISTA*/

/*Inicio parrafo*/
.definicion{
	padding-left: 0px!important;
	padding-right: 0px!important;
	margin-top:120px;
}

.definicion p{
	font-family: "Arvo";
	font-size:22px!important;
	text-align: center;
	float: center;
	font-weight: 400;
	color:#fff;
}

 .definicion p span{
	font-family: "Arvo";
	font-size:22px!important;
	color:#D80000;
	font-weight: 400;
}
/*Fin párrafo*/

nav{
	background-color: black;
	height: 100px;
	padding-top: 20px;
	
}

.links-nav li{
	font-family: "Raleway";
	font-size:20px;
	height: 400;
	color: #fff;
	list-style: none;
	float:left; 
	margin-top:20px; 
	padding: 0px!important;
	text-decoration: none;
}

.links-nav a{
	text-decoration: none;	
	display: block;

}

.links-nav li:focus {
    padding-right: 0px;
	border-bottom: #D80000!important;
}
     
.links-nav li:hover {
	padding-right: 0px;
	border-bottom: #D80000!important;
}

#color-rojo{
	background-color:#B20000;
	height:1450px;
	
}

.container{
	height: 1450px;
}


.historia h2{
	font-family: "Raleway";
	font-weight: 300!important;
	font-size:60px;
	padding-top: 150px;
	color: #000000;
}
 
.historia-1984 img{
	margin-top: 50px;
	width: 300px; 
	height: 300px; 
	margin-left: 0px!important;
}

.historia-1984 h3{
	font-family: "Arvo";
	font-size:22px;
	font-weight: 700!important;
	color:#fff;
	margin-top: 114px;
}

.historia-1984 p{
	
	font-family: "Arvo";
	font-size:20px;
	font-weight: 400!important;
	color:#000000;
	margin-top: 20px;
}

.historia-2001 img{
	width: 300px; 
	height: 300px; 
	margin-top: 100px;
	margin-left: 0px!important;
}

.historia-2001 h3{
	font-family: "Arvo";
	font-size:22px;
	font-weight: 700!important;
	color:#fff;
	margin-top: 180px;
}

.historia-2001 p{
	margin-top: 20px;
	font-family: "Arvo";
	font-size:20px;
	font-weight: 400!important;
	color:#000000;
}


.historia-2010 img{
	width: 300px; 
	height: 300px; 
	margin-top: 100px;
	margin-left: 0px!important;
}

.historia-2010 h3{
	font-family: "Arvo";
	font-size:22px;
	font-weight: 700!important;
	color:#fff;
	margin-top: 140px;
}

.historia-2010 p{
	margin-top: 20px;
	font-family: "Arvo";
	font-size:20px;
	font-weight: 400!important;
	color:#000000;
}

.historia-2010 span{
	margin-top: 20px;
	font-family: "Arvo";
	font-size:20px;
	font-weight: 700!important;
	color:#000000;
}

#color-negro{
	background-color:#000000;
	height: 1400px;
}

.conducta h2{
	font-family: "Raleway";
	font-weight: 300!important;
	font-size:60px;
	padding-top: 130px;
	color: #fff;
}

.icon-gris img{
	width: 100%;
	margin-top: 70px;
}

.icon-gris p{
	font-family: "Raleway";
	font-size:20px;
	text-align: center;
	color: #fff;
	font-weight: 400!important;
	margin-top: 23px;
}

.iconos{
	height: 100%;
	margin-top: 76px;
}


.icon-rojo{
	background-color: ;
	
}

.icon-rojo img{
	width: 100%;

}

.text-icon-rojo p{
	font-family: "Raleway";
	font-size:18px;
	text-align: center;
	color: #fff;
	font-weight: 400!important;
	margin-top: 47px;
}

.iconos-2{
	height: 100%;
	margin-top: 60px;
}

/*Linea negra sobre fondo de mitades*/
.linea-negra{
	padding-top: 71px;
	height: 190px;
	width: 100%;
	background-color: black;
}
/*Fin Linea negra sobre fondo de mitades*/

.conflicto h2{
	font-family: "Raleway";
	font-weight: 300!important;
	font-size:60px;
	padding-top: 10px;
	color: #fff;
	position: absolute;
}

#conflicto-verde0{
	background-color: #71897D;
	float: left;
	width: 50%;
	height: 70px;
	margin-top: 0px;
}

#conflicto-rojo0{
	background-color: #B20000;
	float: left;
	width:50%; 
	height: 70px;
	margin-top: 0px;
}

#mitad-verde{
	background-color: #71897D;
	float: left;
	width: 50%;
	height: 1745px;
}

#mitad-rojo{
	background-color: #B20000;
	float: left;
	width:50%; 
	height: 1745px;
}

.img-afavor img{
	margin-top: 75px;
	height: 300px;
}

.img2-afavor img{
	margin-top: 132px;
}

.img2-afavor p{
	margin-top: 126px;
	font-family: "Arvo";
	font-size:20px;
	font-weight: italic !important;
	color:#000000;
}

.opinion img{
	width:21px;
	margin-top:126px;
	float: right;
}

.text-img-opinion img {
	width: 147px;
	margin-top: 102px;
}

.text-img-opinion p {
    margin-top: 97px;
	font-family: "Arvo";
	font-size:20px;
	font-weight: italic !important;
	color:#000000;
}

.opinion2 img{
	width:21px;
	margin-top:96px;
	float:right;
}

/*Opinion 2 a favor*/
.text-opinion2 img {
	width: 147px;
	margin-top: 69px;
}

.text-opinion2 p {
    margin-top: 61px;
	font-family: "Arvo";
	font-size:20px;
	font-weight: italic !important;
	color:#000000;
}


.comillas2 img{
	width:21px;
	margin-top:61px;
	float:right;
}
/*Fin Opinion 2 a favor*/

/*Nombre opinion*/

.img2-afavor h4{
	font-family: "Raleway";
	font-size:20px;
	text-align: left;
	color: #000000;
	font-weight: 400!important;
	margin-top: 18px;
}

.text-opinion2 h4{
	font-family: "Raleway";
	font-size:20px;
	text-align: left;
	color: #000000;
	font-weight: 400!important;
	margin-top: 18px;
}

.text-img-opinion h4{
	font-family: "Raleway";
	font-size:20px;
	text-align: left;
	color: #000000;
	font-weight: 400!important;
	margin-top: 18px;
}

.text-opinion2 h4{
	font-family: "Raleway";
	font-size:20px;
	text-align: left;
	color: #000000;
	font-weight: 400!important;
	margin-top: 18px;
}
/*Fin nombre opinon*/


/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
.titulo-antiterrorista h1{
	font-size: 60px;
	text-align: center;
	background-color: blue;
 }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
.titulo-antiterrorista h1{font-size: 23px; }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
.titulo-antiterrorista h1{font-size:23px; }
}







/*COLUMNAS EJEMPLO*/
.ej1{
	height: 30px;
	background-color: red;
}

.ej2{
	height: 30px;
	background-color: green;

}